* {
  margin: 0;
  padding: 0;
}

.title-area {
  text-align: center;
  margin: 100px auto;
  font-size: 32px;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 300px;
  min-height: 300px;
  height: 50vh;
  aspect-ratio: 1;
  margin: 50px auto;
  border: 3px solid black;
}

.board-square {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  aspect-ratio: 1;
}

.board-square span {
  font-size: 32px;
  font-weight: 800;
  margin: auto;
}
